body {
    background-image: url("http://img10.deviantart.net/b7cd/i/2008/258/7/a/green_green_grass_by_anjeile.jpg");
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hangman {
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #808080;
}

.center {
    text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.hangman {
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

img {
    margin: 80px;
}

.dashes {
    letter-spacing: 1em;
    color: white;

}

p {
    font-size: 2em;
    margin: 0 0 10px;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.btn-primary {
    color: #808080;
    background-color: white;
    margin: 24px 0px 0px 35px;
    border: solid 1px black;
}

.letter-button {
    margin: 1px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px black;
    float: right;
    background: white;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}

#buttons {
    color: gray;
}

@media (min-width: 1200px) .container {
    width: 1170px;
}

@media (min-width: 768px) .container {
    width: 750px;
}

@media (min-width: 992px) .container {
    width: 970px;
}
